# Python Basics

## Lists

In [1]:
temp = [23.4,33.2,25.3,38.2]

In [2]:
print(temp)

[23.4, 33.2, 25.3, 38.2]

In [3]:
temp_loc = ['Colombo',33.2, 'Nuwara Eliya', 18.3, 'Anuradhapura', 33.6]

In [ ]:
print(temp_loc)

In [ ]:
temp_loc2 = [['Colombo',33.2],['Nuwara Eliya', 18.3],['Anuradhapura', 33.6]]

In [ ]:
print(temp_loc)

In [ ]:
type(temp_loc2)

### Subsetting lists

In [ ]:
temp_loc[0:3]

In [ ]:
temp_loc[-3]

### Manipulating Lists

In [4]:
temp_loc[4] = 'Polonnaruwa'

In [ ]:
print(temp_loc)

In [ ]:
temp_loc[0:2] = ['Gampaha',33.5]

In [ ]:
print(temp_loc)

In [ ]:
temp_loc_ext = temp_loc + ['Colombo',33.2]

In [ ]:
print(temp_loc_ext)

In [ ]:
del(temp_loc[2])

In [ ]:
temp_loc

In [5]:
del(temp_loc[2])

In [ ]:
temp_loc

In [ ]:
x = ['a','b','c']

In [ ]:
y = x

In [ ]:
del(x[2])

In [ ]:
print(x)

In [ ]:
y = x[:]

In [ ]:
del(x[2])

In [ ]:
y

In [ ]:
list(y)

## Dictionary

In [ ]:
course = ['SE','DS','CS']
count = [200,40,70]

In [ ]:
ind_cs = course.index('CS')

In [63]:
count[ind_cs]

70

In [65]:
cour_count = {'SE':200, 'DS':40, 'CS':70}
cour_count['CS']

70

In [66]:
temp_dict = {0:'hello', True:'Bye', 'Good':'Morning'}

In [ ]:
temp_dict[True]

In [ ]:
temp_dict[True] = False

In [ ]:
temp_dict

## Tuples

In [6]:
num = (1,2,3)

In [ ]:
type(num)

In [ ]:
c = num

In [ ]:
type(c)

In [ ]:
a,b,c = num

In [ ]:
type(a)

## Functions

In [ ]:
max(temp)

In [ ]:
help(round)

In [ ]:
temp_loc_ext.index('Colombo')

In [ ]:
temp_loc[0].replace('b','a')

In [ ]:
temp.append('45.4')
temp.append('45.4')

In [ ]:
del(temp[4:6])

In [ ]:
temp

In [ ]:
max(0,2)

In [ ]:
max(9,4,5,6,3)

## Methods

In [ ]:
temp_loc_ext.index('Colombo')

In [ ]:
temp_loc[0].replace('b','a')

In [ ]:
temp

In [ ]:
del(temp[2:])

In [ ]:
temp

## Loops

In [ ]:
for i in temp:
    print(i)

In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [ ]:
for index, value in enumerate(temp):
    print('Index ' + str(index) + ' : ' + str(value))

In [ ]:
s = 'hello'
s.upper()

In [ ]:
for i in 'hello':
    print(i.upper())

In [ ]:
for key,val in cour_count.items():
    print(key)
    print(val)

In [ ]:
cour_count

In [ ]:
np_height = np.array(np.random.normal(168,20,5))
np_weight = np.array(np.random.normal(94,40,5))

In [ ]:
meas = np.array([np_height, np_weight])

In [ ]:
for val in meas:
    print(val)

In [ ]:
for val in np.nditer(meas):
    print(val)

In [ ]:
from pydataset import data
ap = data('airquality')

In [ ]:
for index,a in ap.iterrows():
    print(a)

In [ ]:
for index, a in ap.iterrows():
    ap.loc[index,'temp_celcius'] = (a['Temp']-32)*5/9

In [ ]:
print(ap['temp_celcius'])

In [ ]:
ap = data('airquality')

In [ ]:
ap['temp_celcius'] = (ap['Temp']-32)*5/9

In [ ]:
def fahr_cel(i):
    return (i-32)*5/9

In [ ]:
ap['temp_celcius'] = ap['Temp'].apply(fahr_cel)

In [ ]:
ap

## User Defined Functions and Scopes

In [ ]:
def square(value):
    """ Returns the square of a value """
    new_value = value**2
    return new_value

In [ ]:
p = 2
def square(value):
    """ Returns the square of a value """
    new_value = value**p
    return new_value

In [ ]:
square(10)

In [ ]:
p=3
def square(value):
    """ Returns the square of a value """
    global p
    p = value**p
    return p

In [ ]:
square(2)

In [ ]:
def raise_to(n):
    
    def inner(x):
        r = x**n
        return r
    
    return inner

In [ ]:
cube = raise_to(3)

In [ ]:
cube(3)

In [ ]:
square = raise_to(2)

In [ ]:
square(3)

In [ ]:
def power(number, pow=1):
    new_value = number ** pow
    return new_value

In [ ]:
power(3)

In [ ]:
power(3,2)

In [ ]:
def add_all(*args):
    s = 0
    for a in args:
        s += a

    return s

In [ ]:
def pairs_print(**kwargs):
    
    for key,val in kwargs.items():
        print(key + " " + str(val))

In [ ]:
pairs_print(x='predictor', y='response')

### Lambda Functions

In [ ]:
raise_to = lambda x, y: x ** y

In [ ]:
raise_to(2,3)

In [ ]:
import numpy as np
num = np.random.randint(1,15,5)

In [47]:
num_squared = map(lambda n: n**2, num)

In [48]:
print(list(num_squared))

[1, 4, 9]

### Map

In [8]:
list1 = [1,2,3,4,5,6,7,8,9]

In [27]:
s1 = map(lambda x:x+2, list1)
print(list(s1))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
list2 = [9,8,7,6,5,4,3,2,1]

In [44]:
s2 = map(lambda x,y:x+y, list1,list2)
print(list(s2))

[10, 10, 10, 10, 10, 10, 10, 10, 10]

### Filter

In [36]:
list1 = [1,2,3,4,5,6,7,8,9]

In [40]:
f1 = filter(lambda x:x<5,list1)
print(list(f1))

[1, 2, 3, 4]

In [41]:
m1 = map(lambda x:x<5, list1)
print(list(m1))

[True, True, True, True, False, False, False, False, False]

In [43]:
f2 = filter(lambda x:x%4==0,list1)
print(list(f2))

[4, 8]

### Reduce

In [46]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

In [45]:
print(product)

24

## Iterators

In [ ]:
for i in ['Black', 'Yellow', 'Green']:
    print(i)

In [ ]:
for i in 'Python':
    print(i)

In [ ]:
for i in range(4):
    print(i)

In [ ]:
it = iter('Python')
it2 = iter(['Black', 'Yellow', 'Green'])
it3 = iter(range(4))

In [ ]:
print(type(it))
print(type(it2))
print(type(it3))

In [ ]:
next(it)

In [ ]:
it = iter('Python')
print(*it)

In [ ]:
cour_count = {'SE':200, 'DS':40, 'CS':70}

In [ ]:
for key, value in cour_count.items():
    print(key,value)

In [3]:
file = open('big.txt', mode='r')
it = iter(file)

In [4]:
print(next(it))

The Project Gutenberg EBook of The Adventures of Sherlock Holmes

In [ ]:
faculties = ['Computing', 'Business' 'Engineering']

In [ ]:
e = enumerate(faculties)

In [ ]:
print(type(e))

In [ ]:
list_e = list(e)

In [ ]:
print(list_e)

In [ ]:
for index, value in enumerate(faculties):
    print(index, value)

In [ ]:
for index, value in enumerate(faculties, start=10):
    print(index, value)

In [ ]:
faculties = ['Computing', 'Business', 'Engineering']
fields = ['DS','BM','EE']

In [ ]:
z = zip(faculties, fields)

In [ ]:
print(z)

In [ ]:
list_z = list(z)

In [ ]:
print(list_z)

In [ ]:
for f1,f2 in zip(faculties, fields):
    print(f1,f2)

In [ ]:
print(*z)

## List Comprehension

In [ ]:
num = np.random.randint(1,10,5)
print(num)

In [ ]:
num_alt = [n + 2 for n in num]

In [ ]:
num_alt

In [ ]:
pairs = [(n1,n2) for n1 in range(0,3) for n2 in range(8,10)]

In [ ]:
print(pairs)

In [ ]:
[num ** 2 for num in range(10) if num % 2 == 0]

In [ ]:
names = ['Aaron', 'Jake', 'Billington', 'Rudolf', 'Tim', 'Vladimir']
names_long = [n if len(n)>=6 else "" for n in names]
print(names_long)

In [ ]:
names = ['Aaron', 'Jake', 'Billington', 'Rudolf', 'Tim', 'Vladimir']
names_long = [n if len(n)>=6 else "" for n in names]
print(names_long)